.myStyle1{
    background-color: blueviolet;
    padding: 20px;
    color: aliceblue;
    font-size: medium;

};
.myStyle2{
    background-color: blueviolet;
    padding: 20px;
    color: aliceblue;
    font-size: medium;

}